{% extends 'config/config_layout.html' %}

{% block article %}
<div class="form-group row">
  <!-- <label for="Name" class="col-sm-2 col-form-label">Name</label> -->
  <form class="form-inline" action="{{ url_for('pem_create') }}" method="POST">
    <div class="col-sm-12">
        <input type="text" id="pem-name" name="pem-name" class="form-control" placeholder="Insert Key Pair Name"/>
        <button type="submit" class="btn btn-primary">CREATE</button>
    </div>
  </form>
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm" id="pem-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Finger Print</th>
      </tr>
    </thead>
    <tbody>
      {% for pem in pems %}
      <tr>
        <td class="name">
          <a href="{{ url_for('instance', instanceid=pem.InstanceId) }}">{{ pem.Name }}</a>
        </td>
        <td>
          <a href="{{ url_for('instance', instanceid=pem.InstanceId) }}">{{ pem.FingerPrint }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


  {% with messages = get_flashed_messages()[0] %}
    {% if messages %}
    <div class="card">
      <div class="card-body">
        {% for message in messages %}
          {{ message }} <br>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endwith %}

{% endblock %}