{% extends 'staking/staking_info_layout.html' %}

{% block article %}
{% for data in data %}
<div class="row" >  
  <div class="col-md-8">
    <div id="operator-section" class="col-md-12">
      <p class="lead">Operator {{ data.OperatorAccount }}</p>
    </div>
    <div class="row" id="chain-section">
      <div class="col-md-6">
        <p class="lead">Network</p>
        {{ data.RootChain.Name }}
      </div>
      <div class="col-md-6">
        <p class="lead">ChainID</p>
        {{ data.ChainID }}
      </div>
    </div>
  </div>
  <div class="col-md-4" id="asset-container">
    <div>
        Asset
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">Asset</div>
      <div class="col-md-4">Amount</div>
      <div class="col-md-4">Charge</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">PETH</div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4">MTON</div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
  </div>
  
</div>
<hr>
{% endfor %}

<div class="row">
  <div class="col-md-8 jumbotron" id="operator-info">
    info
  </div>
  <div class="col-md-4">
    <div id="stake-menu">
      stake/unstake
      <form class="form-inline">
        <hr>            
        <div class="col-md-12 row">
          <label for="ton-to-stake" class="col-md-2 col-form-label">Amount</label>
          <div class="col-md-8">
              <input type="text" id="ton-to-stake" name="TonToStake" class="form-control"/>
          </div>
          <div class="col-md-2">
            <p>MTON</p>
          </div>
        </div>              
        <hr>
        <div>
            <button type="submit" class="btn btn-primary">Stake</button>
        </div>
      </form>      
    </div>
    <hr>
    <div id="commission-menu" class="jumbotron">
      commission
    </div>
  </div>
</div>

{% endblock %}