{% extends 'usernode/usernode_layout.html' %}

{% block article %}

<form action="{{ url_for('usernode_create') }}" method="POST">
  <div class="form-group row">
    <label for="Name" class="col-sm-2 col-form-label">Instance Name</label>
    <div class="col-sm-10">
      <input type="text" id="Name" name="Name" class="form-control" placeholder="Instance Name">
    </div>
  </div>

  <div class="form-group row">
    <label for="rootchains" class="col-sm-2 col-form-label">Rootchain</label>
    <div class="col-sm-10">
      <select class="custom-select" name="RootchainID" id="rootchains">
        {% for data in data %}
        <option value="{{ data.InstanceId | safe}}">{{ data.Name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="Rootchain" class="col-sm-2 col-form-label">Operator</label>
    <div class="col-sm-10">
      <select class="custom-select" name="OperatorID" id="Rootchain">
        {% for data2 in data2 %}
        <option value="{{ data2.InstanceId | safe}}">{{ data2.Name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Enode Hex</label>
    <div class="col-sm-10">
      <input type="text" name="enodehex" class="form-control" value="4966a7e4621c2c0b1b1b3295b4a35ccc4224ba1d529bf5aa2323e4650f6075bd5eb6618372b2579965819347307f1f97315ce91b09ca342d60c2e98ad88db9f3">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">CREATE</button>
    </div>
  </div>

</form>

{% endblock %}
