{% extends 'operator_layout.html' %}

{% block article %}
<article class="">

  <form action = "{{ url_for('operator_create') }}" method = "POST">
    <p>Name <input type = "text" name = "Name" /></p>
    <p>
      Rootchain
      <select id="rootchains" name="RootchainID">
        {% for data in data %}
        <option value="{{ data.InstanceId | safe}}">{{ data.Name }}</option>
        {% endfor %}
      </select>
    </p>
    <p>Chain ID <input type = "text" name = "ChainID" value="16"/></p>
    <p>Epoch <input type = "text" name = "Epoch" value="4096"/></p>
    <p>Pre-Asset? <input type = "checkbox" name = "PreAsset" checked=true></p>
    <p>Nodekey Hex <input type = "text" name = "Nodekey" value="e854e2f029be6364f0f961bd7571fd4431f99355b51ab79d23c56506f5f1a7c3"/></p>
    <p>Operator Account <input type = "text" name = "OperatorAccount" value="0x71562b71999873DB5b286dF957af199Ec94617F7"/></p>
    <p>Operator Account Key <input type = "text" name = "OperatorAccountKey" value="b71c71a67e1177ad4e901695e1b4b9ee17ae16c6668d313eac2f96dbcda3f291"/></p>
    <p>Operator Password <input type = "text" name = "OperatorPassword" value=""/></p>
    <p><input type = "submit" value = "Create Instance" /></p>
  </form>

</article>

{% endblock %}
