{% extends 'rootchain_layout.html' %}

{% block article %}

<article class="">

  <table id="width:100%">
    <tr>
      <th>Name</th>
      <th>Log</th>
      <th>Status</th>
      <th>Status*</th>
      <th>IP</th>
      <th>IP</th>
      <th>Start Node</th>
      <th>Deploy Seig Manager</th>
      <th>Deployed?</th>
      <th>Deploy PowerTON</th>
      <th>Deployed?</th>
      <th>Start PowerTON</th>
      <th>Started?</th>
      <th>Export Manager</th>
      <th>Exported?</th>
      <th>Created At</th>
      <th>Reset</th>
      <th>Shutdown</th>
      <th>Drop</th>
    </tr>
    {% for data in data %}
    <tr class="{{ data.InstanceId }}">
      <td class="name">
        <a href="{{ url_for('instance', instanceid=data.InstanceId) }}">{{ data.Name }}</a>
      </td>
      <td class="log">
        <a href="{{ url_for('log', instanceid=data.InstanceId, filename='rootnode.log') }}">
          <button type="button" name="button">Log</button>
        </a>
      </td>
      <td>
        <form id="checkStatus" action="{{ url_for('check_status') }}" method="post">
          <input type="hidden" name="instance_id" value="{{ data.InstanceId | safe }}">
          <input type="submit" name="check" value="1.Check">
        </form>
      </td>
      <td>{{ data.Status }}</td>
      <td class="ip">
        <form id="checkIP" action="{{ url_for('check_ip') }}" method="post">
          <input type="hidden" name="instance_id" value="{{ data.InstanceId | safe }}">
          <input type="submit" name="check" value="2.Check">
        </form>
      </td>
      <td>
        {{ data.IpAddress }}
      </td>
      <td>
        <form id="start_rootchain" action="{{ url_for('rootchain_start') }}" method="post">
          <input type="hidden" name="instance_id" value="{{ data.InstanceId | safe }}">
          <input type="submit" name="check" value="3.Start Rootchain">
        </form>
      </td>
      <td>
        <a href="{{ url_for('deploy_manager', instanceid=data.InstanceId) }}">
          <button type="button" name="button">
            4.Deploy Managers
          </button>
        </a>
      </td>
      <td> {{ data.IsMansgerDeployed }} </td>
      <td>
        <a href="{{ url_for('deploy_powerton', instanceid=data.InstanceId) }}">
          <button type="button" name="button">
            5.Deploy PowerTON
          </button>
        </a>
      </td>
      <td> {{ data.IsPowerTONDeployed }} </td>

      <td>
        <a href="{{ url_for('start_powerton', instanceid=data.InstanceId) }}">
          <button type="button" name="button">
            6.Start PowerTON
          </button>
        </a>
      </td>
      <td> {{ data.IsPowerTONStarted }} </td>
      <td>
        <a href="{{ url_for('export_manager', instanceid=data.InstanceId) }}">
          <button type="button" name="button">
            7.Export Manager
          </button>
        </a>
      </td>
      <td> {{ data.IsManagerExported }} </td>
      <td class="date">
        {{ data.Date }}
      </td>
      <td>
        <form id="reset_rootchain" action="{{ url_for('rootchain_reset') }}" method="post">
          <input type="hidden" name="instance_id" value="{{ data.InstanceId | safe }}">
          <input type="submit" name="check" value="Reset">
        </form>
      </td>
      <td>
        <form id="terminate_rootchain" action="{{ url_for('instance_terminate') }}" method="post">
          <input type="hidden" name="instance_id" value="{{ data.InstanceId | safe }}">
          <input type="submit" name="check" value="Terminate">
        </form>
      </td>
      <td>
        <form id="drop_rootchain" action="{{ url_for('drop_data') }}" method="post">
          <input type="hidden" name="instance_id" value="{{ data.InstanceId | safe }}">
          <input type="submit" name="check" value="Drop">
        </form>
      </td>
    </tr>
    {% endfor %}


  </table>

  <small>*Status : pending | enable | mining | shutdown</small>

  {% with messages = get_flashed_messages()[0] %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endwith %}
</article>

{% endblock %}
